@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll {
    white-space: nowrap;
    overflow: hidden;
}

.animation {
    animation: animation 20s infinite linear;
}

@keyframes animation {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}