@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll {
    white-space: nowrap;
    overflow: hidden;
}

.animation {
    animation: animation 20s infinite linear;
}

@keyframes animation {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}

.swiper-pagination-bullet {
    width: 40px;
    border-radius: 10px;
}

.swiper-pagination-bullet-active {
    background-color: #fd8204 !important;
}